extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='session') Session:
      select#session.form-control(type='select', placeholder='Select session' name='session' required='true' )
        - session_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for session in session_list
          option(value=session._id, selected=(selected_session==session._id.toString() ? 'selected' : false) ) #{session.title}
        
    div.form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text', placeholder='Publisher and date information' name='imprint' required='true' value=(undefined===execution ? '' : execution.imprint) )
    div.form-group
      label(for='due_back') Date when session execution:
      input#due_back.form-control(type='date', name='due_back' value=(undefined===execution ? '' : execution.due_back_yyyy_mm_dd))
            
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select', placeholder='Select status' name='status' required='true' )
        option(value='Passive' selected=(undefined===execution || execution.status!='Passive' ? false:'selected')) Passive
        option(value='Running' selected=(undefined===execution || execution.status!='Running' ? false:'selected')) Running
        option(value='Execution crushed' selected=(undefined===execution || execution.status!='Execution crushed' ? false:'selected')) Execution crushed
        option(value='exec crushed' selected=(undefined===execution || execution.status!='exec crushed' ? false:'selected')) exec crushed

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg