extends layout

block content
  h1= title
  
  ul
    - session_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each session in session_list
      li 
        a(href=session.url) #{session.title}
        |  (#{session.author.name})

    else
      li There are no sessions.
